html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
}

section {
	display: block;
	padding-left: 1rem;
	padding-right: 1rem;
	height: auto;
}

p {
	margin: 0.25rem !important;
}

a {
	text-decoration: none;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

img.profile-pic {
	object-fit: cover;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: 0;
	margin-left: 4px;
}

#qr-code {
	display: none;
	height: 125px;
	width: 125px;
	margin: 0;
	margin-left: 4px;
}

img.company-logo {
	margin-right: 0;
	height: 75%;
	width: 75%;
}

.icon-div {
	margin-left: 8px;
}

.additional-info img {
	margin-left: 4px;
}

.container {
	margin: 0 auto;
	position: relative;
	height: 100%;
	object-fit: contain;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	position: relative;
	height: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	overflow: hidden;
}

.col {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 0.25rem;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

.col.is-1 {
	flex: none;
	width: 10%;
}

.col.is-2 {
	flex: none;
	width: 20%;
}

.col.is-3 {
	flex: none;
	width: 30%;
}

.col.is-4 {
	flex: none;
	width: 40%;
}

.col.is-5 {
	flex: none;
	width: 50%;
}

.col.is-6 {
	flex: none;
	width: 60%;
}

.col.is-7 {
	flex: none;
	width: 70%;
}

.col.is-8 {
	flex: none;
	width: 80%;
}

.col.is-9 {
	flex: none;
	width: 90%;
}

.col.is-10 {
	flex: none;
	width: 100%;
}

.name-title-company {
	height: 100%;
}

.banner {
	padding-top: 35px;
	padding-bottom: 0px;
	height: 150px;
}

.primary-info {
	height: 100px;
}

.secondary-info {
	height: 60px;
}

.additional-info {
	height: 70px;
	border-top: 1px solid #EDEDED; 
	border-bottom: 1px solid #EDEDED;
}

.bg-color-navbar {
	background-color: #00122A;
}

.bg-color-hero {
	background: linear-gradient(#2F80ED, #2D9CDB, #2D9CDB 59.4%, #FFFFFF 59.4%);
}

.bg-color-white {
	background-color: white;
}

.text-name {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #333333;
    font-size: 20px;
}

.text-title-company {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #333333;
    font-size: 12px;
}

.text-detail {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #575757;
    font-size: 12px;
    position: relative;
	transform: translateY(-5%); 
}

.bottom {
	height: 100px;
}

.button {
	display: block;
	width: 160px;
	background: linear-gradient(#2F80ED, #2D9CDB);
	height: 53px;
	padding: 0px 24px;
	text-align: center;
	vertical-align: middle;
	line-height: 48px;
	font-family: 'Lato', sans-serif;
	color: white;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-weight: 300;
	border: none;
	/* border-radius */
	 -webkit-border-radius: 30px;
	 -moz-border-radius: 30px;
	 border-radius: 30px;
	/* box-shadow */
	 -webkit-box-shadow: rgba(0,0,0,0.8) 1px 1px 3px;
	 -moz-box-shadow: rgba(0,0,0,0.8) 1px 1px 3px;
	 box-shadow: rgba(0,0,0,0.8) 1px 1px 3px;
}

.button:hover {
	cursor: pointer;
}

.horizontal-center-child {
	display: flex;
	justify-content: center;
}

.navbar span{
	text-align: center;
	font-size: 14px;
	font-family: 'Muli';
	font-weight: 300px;
	line-height: 30px;
	color: white;
	display: block;
}

i.app-icon {
	text-align: center;
	vertical-align: middle;
	background: url("/assets/icon-firstnamebasis.svg") no-repeat;
	background-size: 95%;
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.share-button {
	position: absolute;
	top: 0;
	right: 0;
}

.share-button:hover {
	cursor: pointer;
}